# compiled python files
*.pyc
*.db

# settings, logs, ...
virtualenv/
/errors.log
/MALMan/MALMan.cfg
/MALMan/attachments/*

.vagrant/
envs/dev/data/*

# temp files
*.*~

# editor files
*.sublime-project
*.sublime-workspace
