{% extends "base.html" %}
{% set category = "stock" %}
{% block title %}Stock up{% endblock %}
{% block content %}
{%- from "_macros.html" import render_field_with_errors %}
<form method="post" class="cf">
    {%- for field in form|reverse -%}
        {%- if field.name != 'csrf_token' and field.name != 'submit' -%}
            {%- if field.name|truncate(length=6, killwords=True, end='') == "check_" %}
                <p>
                    {{ field.label }}
                    {{ field }}
                    {%- if field.errors -%}
                          <ul>
                              {%- for error in field.errors -%}
                                <li style="color: red; display: block;">{{ error }}</li>
                              {%- endfor -%}
                          </ul>
                    {%- endif -%}
            {%- else %}
                    {{ field }}
                </p>
            {%- endif -%}
        {%- endif -%}
        {% if loop.last %}
        {%- endif -%}
    {% endfor %}
    {% if form|list|count > 3 %}
        {{ form.hidden_tag() }}
        {{ form.submit }}
    {% else %}
        <p>All stock items are already at maximum capacity!</p>
    {%- endif %}
</form>
{% endblock %}
