{% extends "base.html" %}
{% set category = "stock" %}

{% block title %}Stock up{% endblock %}
{% block content %}
    {%- from "_macros.html" import render_field_with_errors %}
    {%- if form|list|count < 3 %}
            <p>All stock items are already at maximum capacity!</p>
    {%- else %}
        <form method="post" class="cf">
            {%- for item in form -%}
                {%- if item.name != 'csrf_token' and item.name != 'submit' %}
                <p>
                    {{ item.label }}
                    {%- for field in item|reverse %}
                        {{ field }}
                    {%- endfor -%}
                    {%- for field in item -%}
                        {%- for error in field.errors -%}
                            <span style="color: red; display: block;">{{ error }}</span>
                        {%- endfor -%}
                    {%- endfor %}
                </p>
                {%- endif -%}
                {% if loop.last %}
                    {{ form.hidden_tag() }}
                    {{ form.submit }}
                {%- endif -%}
            {% endfor %}
         </form>
    {%- endif -%}
{% endblock %}
