{% extends "base.html" %}
{% set category = "leden" %}

{% block title %}New members{% endblock %}
{% block content %}
    {% if new_members|list|count > 0 %}
    <form method="post" class="cf">
        {{ form.hidden_tag() }}
        {%- for user in new_members %}
        <dl class="cf">
            <dt>name: </dt><dd>{{ user.name }}</dd>
            <dt>date of birth: </dt><dd>{{ user.date_of_birth }}</dd>
            <dt>email: </dt><dd>{{- user.email -}}</dd>
            <dt>telephone: </dt><dd>{{- user.telephone -}}</dd>
            <dt>address: </dt><dd>{{ user.street }} {{ user.number }}{% if user.bus %} {{ user.bus }}{% endif %}, {{ user.postalcode }} {{ user.city }}</dd>
            <dt>registration date: </dt><dd>{{ user.confirmed_at }}</dd>
            <dt>motivation: </dt><dd>{{ user.motivation|striptags }}</dd>
            <dt>{{ form['activate_' ~ user.id].label }}: </dt><dd>{{ form['activate_' ~ user.id] }}</dd>
        </dl>
        {% endfor %}
        {{ form.submit }}
    </form>
    {% else %}
    <p>There are no new members to approve!</p>
    {%- endif %}
{% endblock %}
