{% from "_macros.html" import tablesorter %}
{% extends "base.html" %}
{% set category = "members" %}

{% block title %}Members{% endblock %}
{% block content %}
    <table id="members" class="broadtable">
        <thead>
            <tr>
                <th>name</th>
                {% if 'members' in current_user.roles %}<th>date of birth</th>{% endif %}
                <th>email</th>
                <th>telephone</th>
                {% if 'members' in current_user.roles %}<th>address</th>{% endif %}
                <th>member since</th>
                <th>roles</th>
                <th>dues</th>
                {% if 'finances' in current_user.roles %}<th>bar account balance</th>
                <th>paid until</th>{% endif %}
                {% if 'members' in current_user.roles %}<th>modify</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {%- for user in users.order_by('name') %}
            <tr>
                <td>{{ user.name }}</td>
                {% if 'members' in current_user.roles %}<td>{{ user.date_of_birth }}</td>{% endif %}
                <td>
                    {%- if user.show_email or 'members' in current_user.roles -%}{{- user.email -}}{%- else -%} hidden {%- endif -%}
                    {%- if not user.show_email and 'members' in current_user.roles  %} (hidden){%- endif -%}
                </td>
                <td>
                    {%- if user.show_telephone or 'members' in current_user.roles -%}{{- user.telephone -}}{%- else -%} hidden {%- endif -%}
                    {%- if not user.show_telephone and 'members' in current_user.roles %} (hidden){%- endif -%}
                </td>
                {% if 'members' in current_user.roles %}<td>{{ user.street }} {{ user.number }}{% if user.bus %} {{ user.bus }}{% endif %} <br /> {{ user.postalcode }} {{ user.city }}</td>{% endif %}
                <td>{{ user.membership_start }}</td>
                <td>
                    {%- set i = user.roles|length -%}
                    {%- for perm in user.roles|sort -%}
                        {{perm}}
                        {%- if i > 1 -%},{%- endif -%}
                        {%- set i = i - 1 -%}
                    {%- endfor -%}
                </td>
                <td>€{{ user.membership_dues }}</td>
                {% if 'finances' in current_user.roles %}<td>{{ user.bar_account_balance}}</td>
                <td>{{ user.membership_due}}</td>{% endif %}
                {% if 'members' in current_user.roles%}
                <td class="actions">
                    <a href="{{ url_for('members_edit_member', user_id=user.id)}}">
                        <span class="iconic pen_alt_fill"></span>
                        edit
                    </a>
                    <br>
                    <a href="{{ url_for('members_remove_member', user_id=user.id)}}">
                        <span class="iconic x"></span>
                        remove
                    </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ tablesorter('#members') }}
{% endblock %}
