{% from "_macros.html" import render_field_with_errors, datepicker %}
{% extends "base.html" %}
{% set category = "accounting" %}

{% block title %}Add transaction{% endblock %}
{% block content %}
    <form method="post" class="cf" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field_with_errors(form.date) }}
        {{ render_field_with_errors(form.facturation_date) }}
        {{ render_field_with_errors(form.is_revenue, onchange="filtercategories()") }}
        {{ render_field_with_errors(form.amount) }}
        {{ render_field_with_errors(form.to_from) }}
        {{ render_field_with_errors(form.description) }}
        {{ render_field_with_errors(form.category_id) }}

        <h2>Bank properties</h2>
        {{ render_field_with_errors(form.bank_id) }}
        {{ render_field_with_errors(form.bank_statement_number) }}

        <h2>Attachments</h2>
        {{ render_field_with_errors(form.attachment, multiple="") }}

        {{ form.submit}}
    </form>
{% endblock %}
{% block scripts %}
    <script>
    var is_revenue_field=document.getElementById("is_revenue");
    var category_id=document.getElementById("category_id");
    function swapoptions(revenues){
        var first = ''
        for (var i=0; i<category_id.length; i++){
            if (category_id.options[i].text.indexOf('(IN)') >= 0) {
                category_id.options[i].disabled = revenues;
                if (first === '' && !revenues){ first = i };
            } else {
                category_id.options[i].disabled = !revenues;
                if (first === '' && revenues){ first = i };
            }
        };
        return first;
    }
    function filtercategories() {
        var is_revenue = is_revenue_field.options[is_revenue_field.selectedIndex].value;
        if (is_revenue === '1') {
            category_id.selectedIndex = swapoptions(false);
        } else if (is_revenue === '0') {
            category_id.selectedIndex = swapoptions(true);
        };
    };
    </script>
    {{ datepicker('date') }}
    {{ datepicker('facturation_date') }}
{% endblock %}
