{% from "_macros.html" import render_field_with_errors, datepicker, filtercategories %}
{% extends "base.html" %}
{% set category = "accounting" %}

{% block title %}Add transaction{% endblock %}
{% block content %}
    <form method="post" class="cf" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field_with_errors(form.date) }}
        {{ render_field_with_errors(form.facturation_date) }}
        {{ render_field_with_errors(form.is_revenue, onchange="filtercategories()") }}
        {{ render_field_with_errors(form.amount) }}
        {{ render_field_with_errors(form.to_from) }}
        {{ render_field_with_errors(form.description) }}
        {{ render_field_with_errors(form.category_id) }}

        <h2>Bank properties</h2>
        {{ render_field_with_errors(form.bank_id) }}
        {{ render_field_with_errors(form.bank_statement_number) }}

        <h2>Attachments</h2>
        {{ render_field_with_errors(form.attachment, multiple="") }}

        {{ form.submit}}
    </form>
{% endblock %}
{% block scripts %}
    {{ filtercategories() }}    
    {{ datepicker('date') }}
    {{ datepicker('facturation_date') }}
{% endblock %}
