{% from "_macros.html" import render_field_with_errors, pikaday, lightbox %}
{% extends "base.html" %}
{% set category = "accounting" %}

{% block title %}Approve reimbursement{% endblock %}
{% block content %}
    <form method="post" class="cf" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field_with_errors(form.reimbursement_date) }}
        {{ render_field_with_errors(form.amount) }}
        {{ render_field_with_errors(form.to_from) }}
        {{ render_field_with_errors(form.description) }}
        {{ render_field_with_errors(form.category_id) }}

        <h2>Bank properties</h2>
        {{ render_field_with_errors(form.bank_id) }}
        {{ render_field_with_errors(form.bank_statement_number) }}

        <h2>Attachments</h2>
            <label style="width=100%">current attachments</label>
            <span style="float: right;text-align: right;">
                {% for attachment in transaction.attachments -%}
                <a style="text-align: right" class="lightbox" rel="{{ transaction.id }}" href="{{ url_for('accounting_attachment', filename=attachment.filename) }}" target="_blank">{{ attachment.filename }}</a>
                <a href="{{ url_for('accounting_remove_attachment', transaction_id=transaction.id, attachment_id=attachment.id) }}">delete</a> 
                <br \>
                {% endfor %}
            </span>
        <p></p>
        {{ render_field_with_errors(form.attachment, multiple="") }}

        {{ form.submit}}
    </form>
{% endblock %}
{% block scripts %}
    {{ lightbox() }}
    {{ pikaday('reimbursement_date') }}
{% endblock %}
