{% extends "base.html" %}
{% set category = "accounting" %}
{% block title %}running account log{% endblock %}
{% block head %}
    {{ super() }}
    {% from "_macros.html" import tablesorter %}
    {{ tablesorter('#transactions') }}
{% endblock %}
{% block content %}

<table id="transactions">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in log %}
        <tr>
            <td>{{ transaction.datetime }}</td>
            <td>{% if transaction.amount > 0 %}<span class="green">+{% else %}<span class="red">{% endif%}€{{ transaction.amount }}</span></td>
            <td>{{ transaction.description }}{% if transaction.purchase %} of a {{ transaction.purchase.item.name }}{% endif%}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% from "_macros.html" import render_pagination %}
{{ render_pagination(pagination) }}
{% endblock %}
