{% from "_macros.html" import tablesorter, render_pagination, lightbox %}
{% extends "base.html" %}
{% set category = "accounting" %}

{% block title %}Kasboek{% endblock %}
{% block content %}
    <form method="post" class="cf" id="filter">
        {{ form.hidden_tag() }}
        <label style="float: left; width: auto; padding-right: 5px;">Bank</label> {{ form.bank }}
        <label style="float: left; width: auto; padding-right: 5px;">Year</label> {{ form.year }}
        {{ form.submit }}
    </form>
    <table id="transactions" class="broadtable">
        <thead>
            <tr>
                <th>#</th>
                <th>Facturatie Datum</th>
                <th>Omschrijving</th>
                <th>FactuurNr</th>
                <th>Inkomsten</th>
                <th>Uitgaven</th>
                <th>Totalen</th>
            </tr>
        </thead>
        <tbody>
            {%- for transaction in log %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ transaction.facturation_date }}</td>
                <td>{{ transaction.description }}</td>
                <td></td>
                {%- if transaction.is_revenue %}
                <td>{{ transaction.amount }}</td>
                <td></td>
                {%- else %}
                <td></td>
                <td>{{ transaction.amount }}</td>
                {%- endif %}
                <td>{% if not transaction.is_revenue %}-{% endif %}{{ transaction.amount }}</td>
            </tr>
            {%- endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                {%- set total_revenue = 0 %}
                {%- set total_expense = 0 %}
                {%- for transaction in log %}
                    {%- if transaction.is_revenue %}
                        {%- set total_revenue = total_revenue + transaction.amount %}
                    {%- else %}
                        {%- set total_expense = total_expense + transaction.amount %}
                    {%- endif %}
                {%- if loop.last %}
                <th>{{ total_revenue }}</th>
                <th>{{ total_expense }}</th>
                <th>{{ total_revenue - total_expense }}</th>
                {%- endif %}
                {%- endfor %}
            </tr>
        </tfoot>
    </table>
{% endblock %}
