{% from "_macros.html" import tablesorter, lightbox %}
{% extends "base.html" %}
{% set category = "accounting" %}

{% block title %}Approve reimbursements{% endblock %}
{% block content %}
    {% if requests|list|count > 0 %}
    <table id="transactions" class="broadtable">
        <thead>
            <tr>
                <th>Advance date</th>
                <th>Amount</th>
                <th>Member</th>
                <th>Description</th>
                <th>Attachments</th>
                <th>Comments</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.advance_date }}</td>
                <td>€{{ request.amount }}</td>
                <td>{{ request.to_from }}</td>
                <td>{{ request.description }}</td>
                <td class="actions">
                {% for attachment in request.attachments %}
                    <a class="lightbox" data-fancybox-group="{{ request.id }}" href="{{ url_for('accounting_attachment', filename=attachment.filename) }}" target="_blank">
                        <span class="iconic paperclip"></span>
                        attachment {{ loop.index }}
                    </a>
                    <br>
                {% endfor %}
                </td>
                <td>{{ request.reimbursement_comments }}</td>
                <td class="actions">
                    <a href="{{ url_for('accounting_approve_reimbursement', transaction_id=request.id)}}">
                        <span class="iconic check"></span>
                        approve
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no pending reimbursement requests!</p>
    {%- endif %}
{% endblock %}
{% block scripts %}
    {{ lightbox() }}
    {{ tablesorter('#transactions') }}
{% endblock %}
