{% from "_macros.html" import tablesorter, lightbox %}
{% extends "base.html" %}
{% set category = "accounting" %}

{% block title %}Approve reimbursements{% endblock %}
{% block content %}
    {% if requests|list|count > 0 %}
    <table id="transactions">
        <thead>
            <tr>
                <th>Advance date</th>
                <th>Amount</th>
                <th>Member</th>
                <th>Description</th>
                <th>Attachments</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.advance_date }}</td>
                <td>€{{ request.amount }}</td>
                <td>{{ request.to_from }}</td>
                <td>{{ request.description }}</td>
                <td>
                {% for attachment in request.attachments %}
                    <a class="lightbox" rel="{{ request.id }}" href="{{ url_for('accounting_attachment', filename=attachment.filename) }}" target="_blank">attachment</a>
                {% endfor %}
                </td>
                <td><a href="{{ url_for('accounting_approve_reimbursement', transaction_id=request.id)}}">approve!</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no pending reimbursement requests!</p>
    {%- endif %}
{% endblock %}
{% block scripts %}
    {{ lightbox() }}
    {{ tablesorter('#transactions') }}
{% endblock %}
