{% extends "base.html" %}
{% set category = "accounting" %}
{% block title %}Approve reimbursements{% endblock %}
{% block head %}
    {{ super() }}
    {% from "_macros.html" import tablesorter %}
    {{ tablesorter('#transactions') }}
{% endblock %}
{% block content %}
{% if requests|list|count > 0 %}
    <table id="transactions">
        <thead>
            <tr>
                <th>Advance date</th>
                <th>Amount</th>
                <th>Member</th>
                <th>Description</th>
                <th>Attachments</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.date }}</td>
                <td>€{{ request.amount|replace('-','') }}</td>
                <td>{{ request.to_from }}</td>
                <td>{{ request.description }}</td>
                <td>
                {% for attachment in request.attachments %}
                    <a href="/accounting/attachments/{{ request.id }}/{{ attachment.filename }}" target="_blank">attachment</a>
                {% endfor %}
                </td>
                <td><a href="/accounting/approve_{{request.id}}">approve!</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There are no pending reimbursement requests!</p>
{%- endif %}

{% from "_macros.html" import pikaday %}
{{ pikaday('advance_date') }}

{% endblock %}
