{% extends "base.html" %}
{% set category = "accounting" %}
{% block title %}membership fees{% endblock %}
{% block head %}
    {{ super() }}
    {% from "_macros.html" import tablesorter %}
    {{ tablesorter('#membershipfees') }}
{% endblock %}
{% block content %}
<form method="post" class="cf" id="filter">
    {{ form.hidden_tag() }}
    {{ form.user }}
    {{ form.submit }}
</form>
<table id="membershipfees">
    <thead>
        <tr>
            <th>date</th>
            <th>user</th>
            <th>amount</th>
            <th>until</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in log %}
        <tr>
            <td>{{ transaction.transaction.date }}</td>
            <td>{{ transaction.user.name }}</td>
            <td>€{{ transaction.transaction.amount }}</td>
            <td>{{ transaction.until }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% from "_macros.html" import render_pagination %}
{{ render_pagination(pagination) }}

{% endblock %}
