{% extends "base.html" %}
{% set category = "accounting" %}
{% block title %}Approve reimbursements{% endblock %}
{% block content %}
{% from "_macros.html" import render_field_with_errors %}
<form method="post" class="cf" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ render_field_with_errors(form.date) }}
    {{ render_field_with_errors(form.amount) }}
    {{ render_field_with_errors(form.description) }}
    {{ render_field_with_errors(form.attachment, multiple="") }}
    {{ form.submit}}
</form>

{% from "_macros.html" import pikaday %}
{{ pikaday('date') }}

{% endblock %}
