<html>
	<head>
		<title>MALman</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body onload="clickMenu('menu')">

		<div id="wrapper">
			<h1>MALMAN</h1>
			<ul id="menu" class="cf">
				<li><a href="account">Mijn account</a></li>
				<li><a href="ledenlijst">Leden</a></li>
				<li><a href="stock">Stock bar</a></li>
				<li><a href="boekhouding">Boekhouding</a></li>
			</ul>
{% if category == "account" %}
			<ul id="menu" class="cf">
				<li><a href="account">overzicht</a></li>
				<li><a href="#">mijn gegeven</a></li>
				<li><a href="#">mijn rekening</a></li>
				<li><a href="#">mijn wachtwoord aanpassen</a></li>
			</ul>
{% elif category == "leden" %}
			<ul id="menu" class="cf">
				<li><a href="leden">ledenlijst</a></li>
				<li><a href="#">ledenlijst met niet publieke data (A)</a></li>
				<li><a href="#">gegevens aanpassen (A)</a></li>
			</ul>
{% elif category == "stock" %}
			<ul id="menu" class="cf">
				<li><a href="stock">stock weergeven</a></li>
				<li><a href="stock_tellen">stock tellen (A)</a></li>
				<li><a href="stock_aanpassen">Stock aanpassen (A)</a></li>
				<li><a href="stock_aanvullen">Stock aanvullen (Josto) (A)</a></li>
				<li><a href="stock_toevoegen">item toevoegen (A)</a></li>
			</ul>
{% elif category == "boekhouding" %}
			<ul id="menu" class="cf">
				<li><a href="boekhouding">Rekeningsstand</a></li>
				<li><a href="#">transacties bekijken</a></li>
				<li><a href="#">aanvraag tot terugbetaling</a></li>
				<li><a href="#">goedkeuring terugbetalingen (A)</a></li>
				<li><a href="#">transactie boeken (A)</a></li>
				<li><a href="#">transactie aanpassen (A)</a></li>
			</ul>
{% endif %}
{% if confirmation %}
			<div id="confirmation">{{ confirmation }}</div>
{% endif %}
{% if error %}
			<div id="error">{{ error }}</div>
{% endif %}
