{% extends "base.html" %}
{% set category = "leden" %}
{% block title %}leden{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-latest.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script> 
<script type="text/javascript">
		$(function() { $("#ledenlijst").tablesorter(); } ); 
</script>
{% endblock %}
{% block content %}
<table id="ledenlijst">
	<thead>
		<tr>
			<th>Naam</th>
			<th>Lid sinds</th>
			<th>Telefoon</th>
			<th>email</th>
			<th>student</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Alice</td>
			<td>altijd</td>
			<td>0448587425</td>
			<td>Alice@f.d</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>21/10/2012</td>
			<td>0458987425</td>
			<td>Bob@f.d</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Alice</td>
			<td>altijd</td>
			<td>0458517425</td>
			<td>Alice@f.d</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Bob</td>
			<td>21/10/2012</td>
			<td>0458687425</td>
			<td>Bob@f.d</td>
			<td>1</td>
		</tr>
	</tbody>
</table>
{% endblock %}