{% extends "base.html" %}
{% set category = "stock" %}
{% block title %}stock item toevoegen{% endblock %}
{% block content %}
			<form id="stock_toevoegen" method="post" class="cf">
				<ul>
					<li class="cf">
						<label>Naam</label>
						<input type="text" name="naam" />
					</li>
					<li class="cf">
						<label>Aankoopprijs (vb: 1.25)</label>
						<input type="text" name="aankoopprijs" />
					</li>
					<li class="cf">
						<label>Verkoopprijs (vb: 1.25)</label>
						<input type="text" name="verkoopprijs" />
					</li>
					<li class="cf">
						<label>Huidige stock</label>
						<input type="text" name="stock" />
					</li>
					<li class="cf">
						<label>Minimumstock</label>
						<input type="text" name="minstock" />
					</li>
					<li class="cf">
						<label>Maximumstock</label>
						<input type="text" value="0" name="maxstock" />
					</li>
					<li class="cf">
						<label>Categorie</label>
						<select name="categorie">
{% for categorie in categorieen %}
							<option value="{{ categorie.id }}">{{ categorie.beschrijving }}</option>
{% endfor %}
						</select>
					</li>
					<li class="cf">
						<label>Oorsprong</label>
						<select name="oorsprong">
{% for id, oorsprong in [('1', 'Josto'), ('2', 'Ebay'), ('3', 'Carrefour')] %}
							<option value="{{ id }}">{{ oorsprong }}</option>
{% endfor %}
						</select>
					</li>
				<input type="submit" name="stock_aanvullen" value="ok!" />
				<ul>
			</form>
{% endblock %}