{% set category = "stock" %}
{% include 'header.html' %}
			<form id="stock_aanpassen" method="POST" class="cf">
				<ul>
{% for entry in lijst %}
					<li class="cf">
						<label>{{ entry.naam }}</label>
						<input type="text" value="{{ entry.stock }}" name="amount_{{ entry.id }}" {% if entry.stock < 0 %}class="error"{% endif %} />
						<input type="hidden" name="ind[]" value="{{ entry.id }}">
					</li>
{% endfor %}
				</ul>
				<input type="submit" name="stock_aanpassen" value="ok!" />
			</form>
			<p><a href="aanvullen">Josto stock aanvullen</a></p>
{% include 'footer.html' %}
