<html>
	<head>
		<title>MALman</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div id="wrapper">
			<h1>MALMAN</h1>
			<ul id="menu" class="cf">
				<li><a href="controleren">Stock aanpassen</a></li>
				<li><a href="aanvullen">Stock aanvullen</a></li>
			</ul>
{% if confirmation %}
			<div id="confirmation">{{ confirmation }}</div>
{% endif %}
{% if error %}
			<div id="error">{{ error }}</div>
{% endif %}
			<form id="stock_aanpassen" method="POST" class="cf">
				<ul>
{% for entry in lijst %}
					<li class="cf">
						<label>{{ entry.name }}</label>
						<input type="text" value="{{ entry.aantal }}" name="amount_{{ entry.id }}" {% if entry.aantal < 0 %}class="error"{% endif %} />
						<input type="hidden" name="ind[]" value="{{ entry.id }}">
					</li>
{% endfor %}
				</ul>
				<input type="submit" name="stock_aanpassen" value="ok!" />
			</form>
		</div>
	</body>
</html>
