<html>
	<head>
		<title>MALman</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<div id="wrapper">
			<h1>MALMAN</h1>
			<ul id="menu" class="cf">
				<li><a href="controleren">Stock aanpassen</a></li>
				<li><a href="aanvullen">Stock aanvullen</a></li>
			</ul>
{% if bericht %}
			<div id="confirmation">{{ bericht }}</div>
{% endif %}
			<form id="stock_aanvullen" method="post" class="cf">
				<ul>
{% for entry in lijst %}
					<li class="cf">
						<label>{{ entry.name }}</label>
						<input type="checkbox" value="{{ entry.id }}" name="check[]" />
						<input type="text" value="{{ entry.aantal }}" name="amount_{{ entry.id }}" />
					</li>
{% endfor %}
				<input type="submit" name="stock_aanvullen" value="ok!" />
				<ul>
			</form>
		</div>
	</body>
</html>