{% extends "base.html" %}
{% set category = "stock" %}
{% block title %}stock{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-latest.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script> 
<script type="text/javascript">
		$(function() { $("#drankenlijst").tablesorter(
			{sortList: [[0,1]]}
		); } ); 
</script>
{% endblock %}
{% block content %}
<table id="drankenlijst">
	<thead>
		<tr>
			<th>datum</th>
			<th>type</th>
			<th>item</th>
			<th>stock effect</th>
			<th>kas effect</th>
			<th>gebruiker</th>
		</tr>
	</thead>
	<tbody>
{% for entry in log %}
		<tr>
			<td>{{ entry.datetime }}</td>
			<td>{{ entry.beschrijving }}</td>
			<td>{{ entry.stock_naam.naam }}</td>
			<td>{% if entry.aantal > 0 %}+{% endif%}{{ entry.aantal }}</td>
			<td>{% if entry.totaalprijs == 0 %}0{% else %}€{{ entry.totaalprijs }}{% endif %}</td>
			<td>{{ entry.gebruikerID }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}