{% set category = "stock" %}
{% include 'header.html' %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-latest.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script> 
<script type="text/javascript">
		$(function() { $("#drankenlijst").tablesorter(); } ); 
</script>

<table id="drankenlijst">
	<thead>
		<tr>
			<th>Naam</th>
			<th>aantal</th>
		</tr>
	</thead>
	<tbody>
{% for entry in lijst %}
		<tr>
			<td>{{ entry.naam }}</td>
			<td>{{ entry.stock }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% include 'footer.html' %}
