{%- macro render_field_with_errors(field) -%}
  <p>{{ field.label }}{{ field(**kwargs)|safe }}
    {%- if field.errors -%}
      {%- for error in field.errors -%}
        <span style="color: red; display: block;">{{ error }}</span>
      {%- endfor -%}
    {%- endif -%}
  </p>
{%- endmacro -%}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

{%- macro render_pagination(pagination) -%}
    {% if pagination.iter_pages()|list|count > 1 %}
    <div class=pagination>
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
        {% else %}
            <span class=ellipsis>…</span>
        {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
        <a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a>
    {% endif %}
    </div>
    {% endif %}
{%- endmacro -%}

{%- macro datepicker(element) -%}
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.datepicker/0.1/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function() {
            $('#{{element}}').datepicker({
                format: 'yyyy-mm-dd'
            });
        })
    </script>
{%- endmacro -%}

{%- macro tablesorter(element) -%}
    <script type="text/javascript" src="//cdn.jsdelivr.net/tablesorter/2.0.5b/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(function() { $("{{element}}").tablesorter(); } );
    </script>
{%- endmacro -%}

{%- macro lightbox() -%}
    <script type="text/javascript" src="//cdn.jsdelivr.net/fancybox/2.1.4/jquery.fancybox.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".lightbox").fancybox({
                helpers: {
                    title : {
                        type : 'inside'
                    },
                }
            });
        });
    </script>
{%- endmacro -%}

{%- macro filtercategories() -%}
    <script>
    window.onload = filtercategories;
    var is_revenue_field=document.getElementById("is_revenue");
    var category_id=document.getElementById("category_id");
    function swapoptions(revenues){
        var first = ''
        for (var i=0; i<category_id.length; i++){
            if (category_id.options[i].text.indexOf('(IN)') >= 0) {
                category_id.options[i].disabled = revenues;
                if (first === '' && !revenues){ first = i };
            } else {
                category_id.options[i].disabled = !revenues;
                if (first === '' && revenues){ first = i };
            }
        };
        return first;
    }
    function filtercategories() {
        var is_revenue = is_revenue_field.options[is_revenue_field.selectedIndex].value;
        if (is_revenue === '1') {
            category_id.selectedIndex = swapoptions(false);
        } else if (is_revenue === '0') {
            category_id.selectedIndex = swapoptions(true);
        };
    };
    </script>
{%- endmacro -%}

