{%- macro render_field_with_errors(field) -%}
  <p>{{ field.label }}{{ field(**kwargs)|safe }}
    {%- if field.errors -%}
      {%- for error in field.errors -%}
        <span style="color: red; display: block;">{{ error }}</span>
      {%- endfor -%}
    {%- endif -%}
  </p>
{%- endmacro -%}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

{% macro render_pagination(pagination) %}
    {% if pagination.iter_pages()|list|count > 1 %}
    <div class=pagination>
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
        {% else %}
            <span class=ellipsis>…</span>
        {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
        <a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a>
    {% endif %}
    </div>
    {% endif %}
{% endmacro %}

{% macro pikaday(element) %}
    <script src="{{ url_for('static', filename='Pikaday/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='Pikaday/pikaday.js') }}"></script>
    <script>
        var picker = new Pikaday({
            field: document.getElementById("{{element}}"),
            format: 'YYYY-MM-DD',
            yearRange: [1900,2020],
            onSelect: function() {
                console.log(this.getMoment().format('YYYY-MM-DD'));
            }
        });
    </script>
{% endmacro %}

{% macro tablesorter(element)%}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script> 
    <script type="text/javascript">
        $(function() { $("{{element}}").tablesorter(); } ); 
    </script>
{% endmacro %}

{% macro lightbox() %}
    <script type="text/javascript" src="{{ url_for('static', filename='Fancybox/jquery.fancybox.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Fancybox/jquery.fancybox.css') }}" media="screen" />
    <script type="text/javascript">
        $(document).ready(function() {
            $(".lightbox").fancybox({
                helpers: {
                    title : {
                        type : 'inside'
                    },
                }
            });

        });
    </script>
{% endmacro %}
