{% extends "base.html" %}
{% set category = "accounting" %}
{% block title %}Accounting log{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/jquery-latest.js"></script> 
<script type="text/javascript" src="/static/jquery.tablesorter.js"></script> 
<script type="text/javascript">
        $(function() { $("#transactions").tablesorter(); } ); 
</script>
{% endblock %}
{% block content %}
<table id="transactions">
    <thead>
        <tr>
            <th>Transaction number</th>
            <th>Date</th>
            <th>to/from</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Bank acount</th>
            {% if 'finances' in session.roles %}<th>Modify</th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for transaction in log %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.description }}</td>
            <td>{% if transaction.amount > 0 %}<span class="green">+{% else %}<span class="red">{% endif%}{{ transaction.amount }}</span></td>
            <td>{{ transaction.to_from }}</td>
            <td>{{ transaction.bank.name }}</td>
            {% if 'finances' in session.roles %}<td><a href="/accounting/edit_{{transaction.id}}"><img src="/static/edit.gif" alt="edit transaction" /></a></td>{% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
