{% extends "base.html" %}
{% set category = "accounting" %}
{% block title %}Add transaction{% endblock %}
{% block content %}
{% from "security/_macros.html" import render_field_with_errors %}
<form method="post" class="cf">
    {{ form.hidden_tag() }}
    {{ render_field_with_errors(form.date) }}
    {{ render_field_with_errors(form.amount) }}
    {{ render_field_with_errors(form.description) }}
    {{ render_field_with_errors(form.bank_id) }}
    {{ render_field_with_errors(form.to_from) }}
    {{ render_field_with_errors(form.category_id) }}
    {{ form.submit}}
</form>
{% endblock %}
