{% extends "base.html" %}
{% set category = "stock" %}
{% block title %}Stock{% endblock %}
{% block head %}
    {{ super() }}
    {% from "_macros.html" import tablesorter %}
    {{ tablesorter('#stockitems') }}
{% endblock %}
{% block content %}
<table id="stockitems">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount in stock</th>
            <th>Stock maximum</th>
            <th>Category</th>
            <th>Josto</th>
            {% if 'bar' in session.roles %}
            <th>remove item</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>€{{ item.price }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.stock_max }}</td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.josto }}</td>
            {% if 'bar' in session.roles %}
            <td><a href="bar_remove_{{item.id}}">remove item</a></td>
            {% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
