{% extends "base.html" %}
{% set category = "stock" %}
{% block title %}Stock{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-latest.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script> 
<script type="text/javascript">
        $(function() { $("#stockitems").tablesorter(); } ); 
</script>
{% endblock %}
{% block content %}
<table id="stockitems">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount in stock</th>
            <th>Stock maximum</th>
            <th>Category</th>
            <th>Josto</th>
        </tr>
    </thead>
    <tbody>
{% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>€{{ item.price }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.stock_max }}</td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.josto }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
