{% extends "base.html" %}
{% set category = "account" %}
{% block title %}My bar account{% endblock %}
{% block head %}
    {{ super() }}
    {% from "_macros.html" import tablesorter %}
    {{ tablesorter('#bar_account_log') }}
{% endblock %}
{% block content %}
<table id="bar_account_log">
    <thead>
        <tr>
            <th>time</th>
            <th>description</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
{% for item in log %}
        <tr>
            <td>{{ item.datetime|replace(' 00:00:00', '') }}</td>
            {% if item.transaction %}
                <td>Topped up account, transaction # {{ item.transaction.id }}
                <td><span class="green">+ €{{ item.transaction.amount }}</td>
            {% else %}
                <td>bought a {{ item.purchase.item.name }}</td>
                <td><span class="red">- €{{ item.purchase.total_price }}</td>
            {% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
