<!DOCTYPE html>
<html>
    <head>
        {%- block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>MALMan -- {% block title -%}{%- endblock -%}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.standalone.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/fancybox/2.1.4/jquery.fancybox.css" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='icons/iconic_fill.css') }}" type="text/css" media="screen">
        {%- endblock -%}
    </head>
    <body>
        <div id="wrapper">
            <div id="header" class="cf">
                <h1><a href="{{ url_for('index')}}">MALMAN</a></h1>
{%- if current_user.email %}
                <span>logged in as {{ current_user.email }} (<a href="{{ url_for_security('logout') }}">log out</a>)</span>
{%- else -%}
                <span>you are not logged in (<a href="{{ url_for_security('login') }}">log in</a>)</span>
{%- endif %}
            </div>
            {%- set navigation = [
                ('index', 'account', 'my account', '', ''),
                ('members', 'members', 'members', True, ''),
                ('bar', 'stock', 'stock bar', True, ''),
                ('accounting', 'accounting', 'accounting', True, '')
            ] -%}
            {%- set subnavigation = [
                ('index', 'account', 'overview', '', ''),
                ('account_bar_account', 'account', 'my bar account', True, ''),
                ('account_edit_own_account', 'account', 'edit my profile information', '', ''),
                ('account_edit_own_password', 'account', 'edit my password', True, ''),

                ('members', 'members', 'memberlist', True, ''),
                ('members_approve_new_members', 'members', 'new members', True, 'members'),
                ('members_former_members', 'members', 'former members', True, 'members'),


                ('bar', 'stock', 'list stock', True, ''),
                ('bar_edit_item_amounts', 'stock', 'edit stock amounts', True, 'bar'),
                ('bar_edit_items', 'stock', 'edit stock items', True, 'bar'),
                ('bar_activate_stockitems', 'stock', 'activate stock items', True, 'bar'),
                ('bar_stockup_josto', 'stock', 'stock up (Josto)', True, 'bar'),
                ('bar_stockup_own', 'stock', 'stock up (own)', True, 'bar'),
                ('bar_log', 'stock', 'stock log', True, 'bar'),
                ('bar_add_item', 'stock', 'add stock item', True, 'bar'),

                ('accounting', 'accounting', 'balance', True, ''),
                ('accounting_log', 'accounting', 'transaction log', True, ''),
                ('accounting_cashlog', 'accounting', 'running account log', True, 'finances'),
                ('accounting_kasboek', 'accounting', 'kasboek', True, ''),
                ('accounting_dagboek', 'accounting', 'dagboek', True, ''),
                ('accounting_request_reimbursement', 'accounting', 'request reimbursement', True, ''),
                ('accounting_approve_reimbursements', 'accounting', 'approve reimbursements', True, 'finances'),
                ('accounting_add_transaction', 'accounting', 'add transaction', True, 'finances'),
                ('accounting_membershipfees', 'accounting', 'membership fees', True, 'finances'),

                ('login', 'login', 'login', '', ''),
                ('register', 'login', 'register', '', ''),
                ('forgot_password', 'login', 'forgot password', '', ''),
                ('send_confirmation', 'login', 'confirm account', '', ''),
            ] -%}
{%-    if category != "login" %}
            <ul class="menu cf">
                {%- for ref, item_category, caption, membership, role in navigation -%}
                {%- if not membership or current_user.active_member %}
                <li{% if category == item_category %} class="bold"{% endif %}><a href="{{ url_for(ref)}}">{{ caption }}</a></li>
                {%- endif -%}
                {%- endfor %}
            </ul>
{%- endif %}
            <ul class="menu cf">
            {%- for ref, item_category, caption, membership, role in subnavigation -%}
                {%- if category == item_category -%}
                {%- if not membership or current_user.active_member -%}
                {% if role == '' or role in current_user.roles %}
                    <li>
                        {%- if category == 'login' -%}
                        <a href="{{url_for_security(ref)}}">{{ caption }}</a>
                        {%- else -%}
                        <a href="{{url_for(ref)}}">{{ caption }}</a>
                        {%- endif -%}
                    </li>
                {%- endif -%}
                {%- endif -%}
                {%- endif -%}
            {%- endfor %}
            </ul>
{%- with messages = get_flashed_messages(with_categories=true) -%}
      {%- if messages -%}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
    {%- endif -%}
{%- endwith -%}
            {%- block content -%}{%- endblock %}
        </div>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{%- block scripts -%}{%- endblock %}
    </body>
</html>
