<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {%- block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>MALMan -- {% block title -%}{%- endblock -%}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" type="text/css" href="/static/Pikaday/pikaday.css" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        {%- endblock -%}
    </head>
    <body>
        <div id="wrapper">
            <div id="header" class="cf">
                <h1><a href="/">MALMAN</a></h1>
{%- if session.email %}
                <span>logged in as {{ session.email }} (<a href="/logout">log out</a>)</span>
{%- else -%}
                <span>you are not logged in (<a href="/login">log in</a>)</span>
{%- endif %}
            </div>
{%-    if category != "login" %}
            <ul class="menu cf">
                <li class="{%- if category == "account" -%}bold{%- endif -%}"><a href="/">my account</a></li>
                <li class="{%- if category == "leden" -%}bold{%- endif -%}"><a href="/members">members</a></li>
                <li class="{%- if category == "stock" -%}bold{%- endif -%}"><a href="/bar">stock bar</a></li>
                <li class="{%- if category == "accounting" -%}bold{%- endif -%}"><a href="/accounting">accounting</a></li>
            </ul>
{%- endif -%}
{%- if category == "account" -%}
            <ul class="menu cf">
                <li><a href="/">overview</a></li>
                {% if 'membership' in session.roles %}
                    <li><a href="/bar_account">my bar account</a></li>
                {% endif %}
                <li><a href="/members/edit_own_account">edit my profile information</a></li>
                <li><a href="/members/edit_password">edit my password</a></li>
            </ul>
{%- elif category == "leden" -%}            
            <ul class="menu cf">
                <li><a href="/members">memberlist</a></li>
                {% if 'members' in session.roles %}
                <li><a href="/members/approve_new_members">new members</a></li>
                {% endif %}
            </ul>
{%- elif category == "stock" -%}
            <ul class="menu cf">
                <li><a href="/bar">list stock</a></li>
                {% if 'bar' in session.roles %}
                <li><a href="/bar/edit_item_amounts">edit stock amounts</a></li>
                <li><a href="/bar/edit_items">edit stock items</a></li>
                <li><a href="/bar/stockup">stock up (Josto)</a></li>
                <li><a href="/bar/log">stock log</a></li>
                <li><a href="/bar/add_item">add stock item</a></li>
                {% endif %}
            </ul>
{%- elif category == "accounting" -%}
            <ul class="menu cf">
                <li><a href="/accounting">balance</a></li>
                <li><a href="/accounting/log">transaction log</a></li>
                {% if 'finances' in session.roles %}
                <li><a href="/accounting/cashlog">running account log</a></li>
                {% endif %}
                <li><a href="/accounting/request_reimbursement">request reimbursement</a></li>
                {% if 'finances' in session.roles %}
                <li><a href="/accounting/approve_reimbursements">approve reimbursements</a></li>
                <li><a href="/accounting/add_transaction">add transaction</a></li>
                <li><a href="/accounting/membershipfees">membership fees</a></li>
                {% endif %}
            </ul>
{%-    elif category == "login" -%}
            <ul class="menu cf">
                <li><a href="login">login</a></li>
                <li><a href="register">register</a></li>
                <li><a href="reset">forgot password</a></li>
                <li><a href="confirm">confirm account</a></li>
            </ul>
{%- endif %}
{%- with messages = get_flashed_messages(with_categories=true) -%}
      {%- if messages -%}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
    {%- endif -%}
{%- endwith -%}
{%- block content -%}{%- endblock -%}
        </div>
    </body>
</html>
