{% extends "base.html" %}
{% set category = "account" %}
{% block title %}leden-modify{% endblock %}
{% block content %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
<form id="leden_edit_own_account.html" method="POST" class="cf">
	{{ form.hidden_tag() }}
	{{ render_field_with_errors(form.name) }}
	{{ render_field_with_errors(form.geboortedatum) }}
	{{ render_field_with_errors(form.email) }}
	{{ render_field_with_errors(form.telephone) }}
	{{ render_field_with_errors(form.street) }}
	{{ render_field_with_errors(form.number) }}
	{{ render_field_with_errors(form.bus) }}
	{{ render_field_with_errors(form.postalcode) }}
	{{ render_field_with_errors(form.gemeente) }}
	{{ render_field_with_errors(form.show_email) }}
	{{ render_field_with_errors(form.show_telephone) }}
	<input type="submit" value="edit my account information!" />
</form>
{% endblock %}