{% extends "base.html" %}
{% set category = "leden" %}
{% block title %}Members{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-latest.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script> 
<script type="text/javascript">
        $(function() { $("#members").tablesorter(); } ); 
</script>
{% endblock %}
{% block content %}
<table id="members">
    <thead>
        <tr>
            <th>name</th>
            <th>date of birth</th>
            <th>email</th>
            <th>telephone</th>
            <th>address</th>
            <th>member since</th>
            <th>roles</th>
            <th>dues</th>
            {% if 'members' in session.roles %}<th>modify</th>{% endif %}
        </tr>
    </thead>
    <tbody>
{%- for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.date_of_birth }}</td>
            <td>
                {%- if user.show_email or perm_members -%}{{- user.email -}}{%- else -%} hidden {%- endif -%}
                {%- if not user.show_email and perm_members %} (hidden){%- endif -%}
            </td>
            <td>
                {%- if user.show_telephone or 'members' in session.roles -%}{{- user.telephone -}}{%- else -%} hidden {%- endif -%}
                {%- if not user.show_telephone and 'members' in session.roles %} (hidden){%- endif -%}
            </td>
            <td>{{ user.street }} {{ user.number }}{% if user.bus %} {{ user.bus }}{% endif %}, {{ user.postalcode }} {{ user.city }}</td>
            <td>{{ user.member_since }}</td>
            <td>
                {%- set i = user.roles|length -%}
                {%- for perm in user.roles|sort -%}
                    {% if perm != 'membership' %}
                        {{perm}}
                        {%- if i > 1 -%},{%- endif -%}
                    {% endif %}
                    {%- set i = i - 1 -%}
                {%- endfor -%}
            </td>
            <td>€{{ user.membership_dues }}</td>
            {% if 'members' in session.roles %}<td><a href="/members/edit_{{user.id}}"><img src="static/edit.gif" alt="edit user settings" /></a></td>{% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
