{% extends "base.html" %}
{% set category = "leden" %}
{% block title %}New members{% endblock %}
{% block content %}
<form method="POST" class="cf">
    {{ form.hidden_tag() }}
{%- for user in new_members %}
    <dl>
        <dt>name: </dt><dd>{{ user.name }}</dd>
        <dt>date of birth: </dt><dd>{{ user.date_of_birth }}</dd>
        <dt>email: </dt><dd>{{- user.email -}}</dd>
        <dt>telephone: </dt><dd>{{- user.telephone -}}</dd>
        <dt>address: </dt><dd>{{ user.street }} {{ user.number }}{% if user.bus %} {{ user.bus }}{% endif %}, {{ user.postalcode }} {{ user.city }}</dd>
        <dt>registration date: </dt><dd>{{ user.member_since }}</dd>
        <dt>motivation: </dt><dd>{{ user.motivation|striptags }}</dd>
        <dt>{{ form['activate_' ~ user.id].label }}: </dt><dd>{{ form['activate_' ~ user.id] }}</dd>
        <p></p>
    </dl>
{% endfor %}
    {{ form.submit }}
</form>
{% endblock %}
