{% extends "base.html" %}
{% set category = "stock" %}
{% block title %}stock aanvullen{% endblock %}
{% block content %}
			<form id="stock_aanvullen" method="post" class="cf">
{% for entry in lijst if entry.aanvullen != 0 %}
					<p class="cf">
						<label>{{ entry.naam }}</label>
						<input type="checkbox" value="{{ entry.id }}" name="check[]" />
						<input type="text" value="{{ entry.aanvullen }}" name="amount_{{ entry.id }}" />
					</p>
{% else %}
					<p>Er valt niets aan te vullen!</p>
{% endfor %}
					<input type="submit" name="stock_aanvullen" value="ok!" />
			</form>
{% endblock %}